C:\AutoTest\DemoTest\check_footer.py 
C:\AutoTest\DemoTest\custom_is_visible.py 
C:\AutoTest\DemoTest\custom_is_visible.pyc 
C:\AutoTest\DemoTest\open_test_website.py 
C:\AutoTest\DemoTest\open_test_website.pyc 
C:\AutoTest\DemoTest\wait_for_element.pyc 
C:\AutoTest\DemoTest\wait_for_element.py 
